<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>xx后台管理系统</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/phone.css">

</head>

<body>
    <div class="container">
        <%- include('./common/head.ejs') %>
        <div class="ly-main">
            <%- include('./common/menu.ejs') %>
            <div class="body">
                <div class="top">
                    <button type="button" class="btn btn-success">新增手机</button>
                </div>
                <div class="bottom">
                    <table class="table  table-bordered ">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>图片</th>
                                <th>手机型号</th>
                                <th>品牌</th>
                                <th>官方指导价</th>
                                <th>二手价</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td><img src="/images/iphone.jpg" alt=""></td>
                                <td>苹果 iPhone XS Max</td>
                                <td>苹果</td>
                                <td>￥9800</td>
                                <td>￥8888</td>
                                <td>
                                    <a href="#" class="alter">修改</a>
                                    <a href="
                                        #" class="remove">删除</a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td><img src="/images/huawei.png" alt=""></td>
                                <td>HUAWEI Mate 20 RS 保时捷设计</td>
                                <td>华为</td>
                                <td>￥12999</td>
                                <td>￥11999</td>
                                <td>
                                    <a href="#" class="alter">修改</a>
                                    <a href="
                                        #" class="remove">删除</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <%- include('./common/nav.ejs') %>
            </div>
        </div>
        <%- include('./common/foot.ejs') %>
    </div>
</body>

</html>
<%- include('./common/dong.ejs') %>　